.about {
    padding: 50px;
    min-height: 100vh;
    width: 100%;
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.about-cont {
    margin-top: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    padding: 20px;
    @media (max-width: 768px) {
        display: flex;
        flex-direction: column;
        padding: 0px;
    }
}

.image {
    height: 100%;
    width: 300px;
    margin-right: 40px;
}

.animate-on-view {
	-webkit-animation: swirl-in-fwd 0.6s ease-out both;
	animation: swirl-in-fwd 0.6s ease-out both;
}

@-webkit-keyframes swirl-in-fwd {
    0% {
      -webkit-transform: rotate(-540deg) scale(0);
              transform: rotate(-540deg) scale(0);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotate(0) scale(1);
              transform: rotate(0) scale(1);
      opacity: 1;
    }
  }
  @keyframes swirl-in-fwd {
    0% {
      -webkit-transform: rotate(-540deg) scale(0);
              transform: rotate(-540deg) scale(0);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotate(0) scale(1);
              transform: rotate(0) scale(1);
      opacity: 1;
    }
  }
.desc-cont {
    display: flex;
    flex-direction: column;
    width: 800px;
    @media (max-width: 768px) {
        width: auto;
        font-size: 15px;
        text-align: start;
    }
}

.name {
    font-family: Roboto;
    font-size: 45px;
    font-weight: bold;
    color: #05dbfc;
}

.role {
    font-family: Roboto;
    font-size: 24px;
    font-weight: bold;
    color: #57ff62;
    margin-top: 10px;
}

.about-content {
    margin-top: 40px;
    font-family: Roboto;
    font-size: 20px;
    padding-top: 15px;
    font-weight: 300;
}

.mail-cont {
    margin-top: 30px;
}

.about-mail {
    font-family: Roboto;
    font-size: 24px;
}

.mail {
    color: #1389ff;
    font-weight: 500;
    font-size: 20px;
}

.text-primary {
    font-size: 20px;
    font-family: Roboto;
    font-weight: bold;
}

.main-heading {
    background: conic-gradient(from 0deg at center top, rgb(75, 255, 111), rgb(243, 244, 246), rgb(224, 255, 19));
    background-clip: text; /* For Firefox */
    -webkit-background-clip: text; /* For Chrome, Safari, Edge */
    -webkit-text-fill-color: transparent; /* For Chrome, Safari, Edge */
    color: transparent; /* Fallback for unsupported browsers */
    text-align: center;
    background-size: 500% auto;
    animation: textShine 0.2s ease-in-out infinite alternate;
    font-size: 48px;
}

@keyframes textShine {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}