/* Write your code here. */
.Photography-cont {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-top: 50px;
  }
  .main-image {
    height: 600px;
    width: 800px;
    border: none;
  }
  .main-heading {
    font-family: "Roboto" sans-serif;
    font-weight: bold;
  }
  .para {
    margin: 20px;
    color: solid;
    color: #9000ff;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 18px;
  }
  
  .thumnails-cont {
    list-style-type: none;
    padding: 0%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 800px;
  }
  

@media (max-width: 768px) {
    .Photography-cont {
        padding: 0px;
    }
    .main-image {
        height: 300px;
        width: 100%;
    }
    .thumnails-cont {
        width: 100%;
    }
}