/* Write your code here. */
.Photography-cont {
    background: #bdc3c7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-top: 50px;
  }
  .main-image {
    height: 600px;
    width: 800px;
  }
  .main-heading {
    font-family: Roboto;
    font-weight: bold;
  }
  .para {
    margin: 20px;
    color: #00ffae;
    font-family: Roboto;
    font-weight: bold;
  }
  
  .thumnails-cont {
    list-style-type: none;
    padding: 0%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 800px;
  }
  

@media (max-width: 768px) {
    .Photography-cont {
        padding: 0px;
    }
    .main-image {
        height: 300px;
        width: 100%;
    }
    .thumnails-cont {
        width: 100%;
    }
}