a {
    text-decoration: none;
  }
  
  h {
      font-family: Robto;
      font-weight: bold;
  }
  
  .heading1 {
      color: #000000;
      font-size: 40px;
      margin: 0px;
      margin-bottom: 20px;
      font-weight: bold;
  }
  
  .heading2 {
      color: hwb(0 0% 100%);
      font-size: 40px;
      margin: 0px;
      margin-bottom: 20px;
      font-weight: bold;
  }
  
  .home-name {
    color: #ff9500;
  }

  .resume-btn {
    margin-top: 20px;
    margin-left: 0px;
    border: none;
    display: block;
    position: relative;
    padding: 0.7em 2.4em;
    font-size: 18px;
    background: transparent;
    cursor: pointer;
    user-select: none;
    overflow: hidden;
    color: rgba(143, 63, 255);
    z-index: 1;
    font-family: inherit;
    font-weight: 500;
    width: 150px;
  }
  
  .resume-span {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: -1;
    border: 4px solid rgb(143, 63, 255);
  }
  
  .resume-span::before {
    content: "";
    display: block;
    position: absolute;
    width: 8%;
    height: 500%;
    background: #f7f9fa;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-60deg);
    transition: all 0.3s;
  }
  
  .resume-btn:hover .resume-span::before {
    transform: translate(-50%, -50%) rotate(-90deg);
    width: 100%;
    background: rgb(143, 63, 255);
  }
  
  .resume-btn:hover {
    color: #fff;
  }
  
  .resume-btn:active .resume-span::before {
    background: #2751cd;
  }
  
  /* From Uiverse.io by wilsondesouza */  
  
  .animated-text {
    color: #000000;
    font-size: 34px;
    font-weight: 600;
    min-width: 450px;
    @media (max-width: 768px) {
      font-size: 25px;
    }
  }
  
  .animated-text span {
    position: relative;
  }
  
  .animated-text span::before {
    content: "Youtuber";
    color: #d91cff;
    animation: words 20s infinite;
    font-weight: bold;
  }
  
  .animated-text span::after {
    background: #fff;
    content: "";
    position: absolute;
    width: calc(100% + 8px);
    right: -8px;
    height: 110%;
    animation: cursor 0.8s infinite, typing 20s steps(14) infinite;
  }
  
  @keyframes cursor {
    to {
        border-left: 3px solid #000000;
    }
  }
  
  @keyframes words {
    0%, 20% {
        content: " Frontend Developer";
    }
    21%, 40% {
        content: " Backend Developer ";
    }
    41%, 60% {
        content: " Android Developer ";
    }
    61%, 80% {
        content: " Web Designer      ";
    }
    81%, 100% {
        content: " Gamer             ";
    }
  }
  
  @keyframes typing {
    10%, 15%, 30%, 35%, 50%, 55%, 70%, 75%, 90%, 95% {
        width: 0;
    }
    5%, 20%, 25%, 40%, 45%, 60%, 65%, 80%, 85% {
        width: calc(100% + 8px);
    }
  }

.myPhoto-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #b33ab4;
    padding: 50px;
    border-radius: 70% 20% 30% 70% / 100% 20% 30% 70%;
}